@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    padding: 10px;
    font-family: 'Comfortaa', serif, cursive;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #839192;
}

form {
    width: 485px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 10px 10px 10px 4px;
}

form > input {
    width: 100%;
    margin-left:4px;
    height: 35px;
    border: 1px solid silver;
    border-radius: 3px;
    color: white;
    background: #cccccc;
}

form > input:hover {
    background: whitesmoke;
    color: #cccccc;
}

label {
    display: block;
	margin: 5px;
    color: grey;
}

label > input {
    line-height: 30px;
}

label > * {
    display: block;
    width: 100%;
}

.comment {
    width: 500px;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 10px 0;
    background-color: #8FBC8F;
}

.comment > h3 {
    margin: 0;
    border-bottom: 1px solid silver;
    background-color: #FFD700;
    padding: 3px;
}

.comment > p {
    margin: 10px;
}

.error {
    display: inline;
    color: red;
}

.delcom {
    float: right;
    padding: 3px 5px 0 0;
}

.delcom > a {
    text-decoration: none;
    color: inherit;
}

.delcom:hover {
    padding: 0 5px 0 0;
    font-size: larger;
    cursor: pointer;
}